extends template


block content
  div.main
    h1(class="donations_title")= title

    ul
      each donation in donation_list
        - var donateDate = new Date()
        li(class="donations bg-success")
          a(href=donation.url class="text-light") #{donation.username} donated to #{donation.recipient} - #{donateDate.toDateString()}
          
            
      else
        li There are no Donations
